[submodule "lib/deps/libbacktrace"]
	path = lib/deps/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace
[submodule "lib/deps/openssl"]
	path = lib/deps/openssl
	url = https://git.openssl.org/openssl/
[submodule "lib/deps/boost"]
	path = lib/deps/boost
	url = https://github.com/boostorg/boost/
[submodule "lib/deps/libunwind"]
	path = lib/deps/libunwind
	url = https://github.com/libunwind/libunwind/
